<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/index.css" />
</head>

<body>
    <center>
        <h1>To Do List</h1>
    </center>

    <center>
        <div id="main">
            <table cellspacing="30px" class="styled-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Description</th>
                        <th>Assigned On</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i< list.length;i++) {%>
                        <tr>
                            <td>
                                <%=i+1%>
                            </td>
                            <td>
                                <%=list[i].description%>
                            </td>
                            <td>
                                <%=list[i].time%>
                            </td>
                            <td>
                                <%=list[i].deadline%>
                            </td>
                            <td>
                                <input onclick="func(`<%=list[i].id%>`)" type="checkbox" <%=list[i].status==true? "checked": ""%> />
                            </td>
                            <td>
                                <a href="/edit/ <%=list[i].id%>">
                                    <input id="different-type" type="submit" value="Edit" />
                                </a>
                            </td>
                            <td>
                                <a href="/delete/ <%=list[i].id%>">
                                    <input id="different-type" type="submit" value="Delete" />
                                </a>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
    </center>
    <center>
        <a href="/add">
            <input type="submit" value="Add Work" />
        </a>
    </center>
</body>
<script>
    function func(id) {
        window.location.href = "/status/" + id;
    }
</script>

</html>