<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="milsymbol-2.0.0/src/milsymbol.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="main" style="width:30%;margin:40px auto">
        <table cellspacing="30px">
            <tr>
                <th>S.No</th>
                <th>Title</th>
                <th>Body</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% for(var i=0;i< list.length;i++) {%>
                <tr>
                    <td>
                        <%=i+1%>
                    </td>
                    <td>
                        <%=list[i].title%>
                    </td>
                    <td>
                        <%=list[i].body%>
                    </td>
                    <td>
                        <a href="/api/items/<%=list[i].id%>">
                            <button>Edit</button
                        </a>
                    </td>
                    <td>
                        <form action="/api/items/<%=list[i].id%>" method="delete"></form>
                        <button onclick="deleteIt(`<%=list[i].id%>`)">Delete</button>
                    </td>
                </tr>

                <%}%>
        </table>
    </div>
</body>

</html>